<h1>Add New Artist</h1>

{% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'history:add' %}" method="POST">
{% csrf_token %}
    <label for='name'>Artist Name</label>
    <input type='text' name='artist_name' />
    <br />
    <br />
    <label for='formed'>Artist/Group Formed</label>
    <input type='date' name='date_formed' />
    <br />
    <br />
    <button type='submit'>Save Artist</button>
</form>

<form action="{% url 'history:index'%}" method="">
    <button>Go Back</button>
</form>